.card-image{
    margin: 20px;
}
body{
    background:rgba(2, 1, 1, 0.938);
}
.con-img-a{
    background: url(/diving/description6.jpg);
    background-attachment: fixed;
}
.container-im{
    margin: 20px;
}